/vendor
.env
/database/database.sqlite
/tests/tmp
storage/oauth-private.key
storage/oauth-public.key
.DS_Store
.phpunit.result.cache
private.key
public.key
database/gateway.sqlite
build/logs/clover.xml
